.lineMenu {
   
    margin-top: 15px;
    width: 231px;
    height: 1px;
    flex-shrink: 0;
   
    stroke-width: 2px;
    background: rgba(255, 199, 199, 0.5);
}
.liMenu{
    
    border-radius: 25px;
   padding: auto;
      margin-top: 15px;
    height: 65px;
 display:flex;
 justify-content:center;
 align-items:center;
    width: 70%;
}
.liMenu:hover{

border-radius: 25px;
background: rgb(0, 0, 0, 0.11);
cursor: pointer;
transform: translateY(-5px);
box-shadow: 0px 10px 0px rgb(0, 0, 0, 0.3);
    transition-duration: 0.5s;
}
a{font-size: 25px;
    color: #FFC7C7;
    text-decoration: none;
}
