.img {
    width: 168px;
    height: 180px;
    flex-shrink: 0;
}
.text{
  
color: #FFC7C7;
position: absolute;
font-family: Inter;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.container{
    width: 168px;
    height: 180px;
    position: relative;
     margin-right: 10px;
}
.body{
 

}