.buttonPlayContainer{
    width: 50px;
    height: 50px;
    padding: 0;
background: none;
border: 0;
}
.imgPlay{
    margin: 0%;
    width: 45px;
    height: 49px;
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.buttonNext {
    background: none;
border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
}
.buttonImg{
    
    width: 40px;
    height: 40px;
}