
.globalBody{
  background:url(../public/background.svg) ;
height: 100vh;
  display: grid;
  grid-template-columns: 20% 71% 9%;
    grid-template-rows: 14% 86%;
    grid-template-areas:
    'a a c'
    'b f c';
}
*{
  margin: auto;
}
.globalHead{
  width: 100%;
  height: 100%;
grid-area: a;
}
.globalMenu{
  width: 100%;
  height: 100%;
  grid-area: b;
}
.globalChildren{
  width: 100%;
  height: 100%;
  grid-area: f;
}
.globalPlayer{
  width: 100%;
  height: 100%;
  grid-area: c;
}

