.globalBody{
height: 100vh;
  display: grid;
  grid-template-columns: 20% 71% 9%;
    grid-template-rows: 14% 86%;
    grid-template-areas:
    'a a c'
    'b f c';
}
*{
  margin: auto;
}
.globalHead{
grid-area: a;
}
.globalMenu{
  grid-area: b;
}
.globalChildren{
  grid-area: f;
}
.globalPlayer{
  grid-area: c;
}